<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Eeee sari  salaar movie pan india blockbuster avali prasanthneel garu</h1>
        <h1>Eesariki 2000 cores kotali ee movie thoo </h1>
        <a href="{% url 'prasanthneel' %}"><h1>prasanthneel</h1></a>
        <a href="{% url 'specific:rajmouli' %}"><h1>Rajmouli</h1></a>
        <a href="{% url 'specific:tharak' %}"><h1>Tharak</h1></a>
    </center>
</body>
</html>