<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>jakanna esari RRR kadhu RRR valla bap cinema theyali</h1>
        <h1>manam esari pan india movie list lo undali</h1>
        <a href="{% url 'prasanthneel' %}"><h1>prasanthneel</h1></a>
        <a href="{% url 'specific:rajmouli' %}"><h1>Rajmouli</h1></a>
        <a href="{% url 'prabhas' %}"><h1>Prabhas</h1></a>
    </center>
</body>
</html>